<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style 2.css">

<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&family=Dancing+Script:wght@400;500;600;700&family=Engagement&family=Lily+Script+One&family=Poiret+One&display=swap&family=Engagement&family=Lily+Script+One&family=Poiret+One&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbarC z-3">


        <div class="container w-50">
      
          <nav class="navbar navbar-expand-lg ">
              
                <a class="navbar-brand mb-1 ps-5 px-4" href="index"><img src="static/icons/travelling.png" height="40px" width="40px" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-5">
                      <a class="nav-link  " aria-current="page" href="index"> HOME</a>
                    </li>
                    <li class="nav-item px-4 ">
                      <a class="nav-link" href="about">ABOUT</a>
                    </li>
                    <li class="nav-item px-4 dropdown">
                      <a class="nav-link dropdown-toggle" href="dest.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DESTINATION
                      </a>
                      <ul class="dropdown-menu bg-secondary z-2">
                        <li><a class="dropdown-item" href="trekking.html">Trekking</a></li>
                        <li><a class="dropdown-item" href="trekkless.html">Trek-less</a></li>
                        <li><a class="dropdown-item" href="crowd.html">Crowd</a></li>
                        <li><a class="dropdown-item" href="spirit.html">Spiritual</a></li>
                      </ul>
                    </li>
                    <li class="nav-item px-4">
                      <a href="blog" class="nav-link">Blog</a>
                    </li>

                  
               
                    
                  </ul>
                  <a class="nav-link " href="form.html" > <div class="btn text-bg-warning join">JOIN</div>
                  </a>
                 
                </div>
            
            </nav>
          </div>
      
        </header>

<h1 class="text-center">Blogs</h1>
<div class="containers">
    <form action="blog" class="col-5 mx-auto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" mb-3">
            <input type="text" class="form-control"  placeholder="Your Name" required name="name">
          </div>
          <div class=" mb-3">
            <textarea class="form-control" rows="8" placeholder="Your Blog" required name="text"></textarea>
          </div>
          <div>
            <input type="file" class="form-control" required  name="img">
          </div>
          <div>
          <a href="/"><button class="btn btn-warning mt-3">Submit</button></a> 
          </div>
    </form>
</div>

<div class="container ">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No. </th>
            <th scope="col">Name</th>
            <th scope="col">Blog</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{blog.name}}</td>
            <td>{{blog.text}}</td>
            <td><img src="/media/{{blog.pic}}" height="100" width="100"></td>
            <td> <a href="/delete/{{blog.id}}"><button class="btn btn-danger">DELETE</button></a> </td>
          </tr>
          {% endfor %}    
        </tbody>
      </table>
</div>

  
</body>
</html>