<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="crowdstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&family=Dancing+Script:wght@400;500;600;700&family=Engagement&family=Lily+Script+One&family=Poiret+One&display=swap&family=Engagement&family=Lily+Script+One&family=Poiret+One&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbarC z-3">


        <div class="container w-50">
      
          <nav class="navbar navbar-expand-lg">
              
                <a class="navbar-brand mb-1 ps-5 px-4" href="index.html"><img src="icons/travelling.png" height="40px" width="40px" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-5">
                      <a class="nav-link  " aria-current="page" href="index.html"> HOME</a>
                    </li>
                    <li class="nav-item px-4 ">
                      <a class="nav-link" href="about.html">ABOUT</a>
                    </li>
                    <li class="nav-item px-4 dropdown">
                      <a class="nav-link dropdown-toggle" href="dest.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        DESTINATION
                      </a>
                      <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="trekking.html">Trekking</a></li>
                        <li><a class="dropdown-item" href="trekkless.html">Trek-less</a></li>
                        <li><a class="dropdown-item" href="crowd.html">Crowd</a></li>
                        <li><a class="dropdown-item" href="spirit.html">Spiritual</a></li>
                      </ul>
                    </li>
                    <li class="nav-item px-4">
                      <a class="nav-link">CHAT</a>
                    </li>

                  
               
                    
                  </ul>
                  <a class="nav-link " href="form.html" > <div class="btn text-bg-warning join">JOIN</div>
                  </a>
                 
                </div>
            
            </nav>
          </div>
      
        </header>



        <!--Carousel-->
     
        <section class="wall">
          <div class="row">
            <h1 class="wallH">Crowdy</h1>
            <p class="wallp">
              Not everyone can live in peace forever.</p>
          </div>
            
       
        </section>


        <!--ABOUT-->

        <section class="about">

        
          <div class="container pb-5">
            <div class="row">
              <div class="col-lg-6  abtI">
                <h1 class="abt">Crowdy</h1>
              </div>
              <div class="col-lg-6 abtP">

               <p>
                Many people dream of trekking in Uttarakhand, right in the alps of the mighty Himalayas. Uttarakhand is a hilly state to a great extent,
                 located at the foothills of the Himalayan mountain ranges. The state is blessed with natural resources – rivers, forests and most importantly snow-clad mountains.
                  The most revered Dhams in India – Char-dhams are Hindu temples of Badrinath, Kedarnath, Gangotri and Yamunotri are nestled in these ferocious mountains. 
                  Trekking is a very popular sport in Uttarakhand due to its accessibility.
                 From beginners to experts can test their stamina by trekking these mountains. You can find Treks in Uttarakhand from easy to difficult climb.
               </p>
               <h3>Some of the Famous Treks are :</h3>
               <ul>
                <li>Tungnath-Chandrashila Trek</li>
                <li>Kedarnath Trek</li>
                <li>Roopkund Trek</li>
                <li>Rudranath Trek</li>
                <li>Madhmaheswar Trek</li>
                <li>Valley Of Flowers</li>
               </ul>
              </div>
            </div>
          </div>
          


<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
    </div>
</div>


        </section>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  var owl = $('.owl-carousel');
owl.owlCarousel({
    items:4,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:1200,
    dots:false,
    autoplayHoverPause:true,
    smartSpeed:1500
});
$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[1000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
</html>